<div class="text-center">
    <div class="new-bank">
        <form>
            <input type="radio" id="debit" name="bank_type" value="debit"/>
            <label for="debit">Debit</label>
            <input type="radio" id="credit" name="bank_type" value="credit" />
            <label for="credit">Credit</label>
            <input type="radio" id="saving" name="bank_type" value="saving" />
            <label for="saving">Saving</label>
        </form>
    </div>
</div>