@{
    ViewData["Title"] = "Home Page";
@model HomeViewModel

}

<div class="text-center">
    @if (Model.Banks.Any())
    {
        foreach(BankAccountViewModel bank in Model.Banks)
        {
            <div class="bank-group">
                <div class="bank-header">
                    @bank.BankType.Name.ToUpper()
                </div>
                <div class="bank-info">
                    <div class="bank-user">
                        @Model.User.Email
                    </div>
                    <div class="bank-money">
                        €@bank.Balance
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <span>
            There are no bank accounts linked to your account.
        </span>
    }
</div>
