@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="bank-group">
        <div class="bank-header">
            Creditcard
        </div>
        <div class="bank-info">
            <div class="bank-user">
                T Klompmaker
            </div>
            <div class="bank-money">
                €500
            </div>
        </div>
    </div>
</div>
