@{
    ViewData["Title"] = "Home Page";
@model HomeViewModel

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="bank-group">
        <div class="bank-header">
            @Model.Bank.AccountType.ToUpper();
        </div>
        <div class="bank-info">
            <div class="bank-user">
                @Model.User.Email
            </div>
            <div class="bank-money">
                €@Model.Bank.Amount
            </div>
        </div>
    </div>
</div>
